NODE_RED FLOWS.json
[{"id":"cebb1d2b.f9b3e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"52f64e72.18082","type":"ui_form","z":"cebb1d2b.f9b3e","name":"","label":"","group":"5ab6cb9.de47c34","order":1,"width":0,"height":0,"options":[{"label":"Heartbeat/min","value":"rd","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"ms","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ad","type":"number","required":true,"rows":null},{"label":"BMI","value":"st","type":"number","required":true,"rows":null},{"label":"AGE","value":"er","type":"number","required":true,"rows":null},{"label":"SEX","value":"td","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"d","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"th","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"gh","type":"number","required":true,"rows":null}],"formValue":{"rd":"","ms":"","ad":"","st":"","er":"","td":"","d":"","th":"","gh":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["bc7400b.56f92","8176edb1.0e27b"]]},{"id":"bc7400b.56f92","type":"debug","z":"cebb1d2b.f9b3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"8176edb1.0e27b","type":"function","z":"cebb1d2b.f9b3e","name":"pre-token","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"er\",msg.payload.er)\nglobal.set(\"td\",msg.payload.td)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"th\",msg.payload.th)\nglobal.set(\"gh\",msg.payload.gh)\nvar apikey=\"pAMxRznMZpIB111kZuF1RrB76_YmM2-frCAdPQLKhpe6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["c9d7aa87.02acd8"]]},{"id":"c9d7aa87.02acd8","type":"http request","z":"cebb1d2b.f9b3e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":244.00000286102295,"wires":[["50d2ce31.9687f","eb5556e4.b5a828"]]},{"id":"50d2ce31.9687f","type":"debug","z":"cebb1d2b.f9b3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"eb5556e4.b5a828","type":"function","z":"cebb1d2b.f9b3e","name":"Pre Prediction","func":"var rd = global.get(\"rd\")\nvar ms = global.get(\"ms\")\nvar ad = global.get(\"ad\")\nvar st = global.get(\"st\")\nvar er = global.get(\"er\")\nvar td = global.get(\"td\")\nvar d = global.get(\"d\")\nvar th = global.get(\"th\")\nvar gh = global.get(\"gh\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Heartbeat/min\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\",\"HEARTFAILURE\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"]],\"values\": [[rd,ad,ms,st,er,td,d,th,gh]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":196.0000021457672,"wires":[["3d5cb70e.798788"]]},{"id":"3d5cb70e.798788","type":"http request","z":"cebb1d2b.f9b3e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0cb59e7c-a7eb-4a29-a984-c77bd364ddd7/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":220,"wires":[["f56ee846.d95658","67d8c7df.f3a2e8"]]},{"id":"f56ee846.d95658","type":"debug","z":"cebb1d2b.f9b3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":982.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"5e426d2d.826a14","type":"inject","z":"cebb1d2b.f9b3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["8176edb1.0e27b"]]},{"id":"4afb3774.47b0b8","type":"debug","z":"cebb1d2b.f9b3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"67d8c7df.f3a2e8","type":"function","z":"cebb1d2b.f9b3e","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":128.00000190734863,"wires":[["4afb3774.47b0b8","cb1adfcc.a758f"]]},{"id":"cb1adfcc.a758f","type":"ui_text","z":"cebb1d2b.f9b3e","group":"5ab6cb9.de47c34","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"5ab6cb9.de47c34","type":"ui_group","z":"","name":"HEART FAILURE PREDICATION","tab":"2608fba8.8718f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2608fba8.8718f4","type":"ui_tab","z":"","name":"Heart Failure Predication","icon":"dashboard","disabled":false,"hidden":false}]